[[source]]
name = "pypi"
url = "https://pypi.org/simple/"
verify_ssl = true

[dev-packages]

[packages]
autopep8 = "*"
django = "==1.11.18"
django-redis = "==4.8.0"
markdown = "==2.6.11"
markdown-downheader = "==1.1.0"
markdown-newtab = "==0.2.0"
#"markdown2 =" = "==2.3.5"
pylint = "*"
pymdown-extensions = "==4.8"
python-memcached = "*"
pytz = "*"
uwsgi = "*"

[requires]
python_version = "3.7"
